# API env
API_PORT=3000
WEB_URL=http://localhost:3001
DATABASE_USER=creditflow
DATABASE_PASS=creditflow
DATABASE_HOST=localhost:5432
DATABASE_NAME=creditflow

# WEB env
VITE_API_URL=http://localhost:3000
VITE_WEB_PORT=3001