# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*
!.env.example

# Firebase cache directory
.firebase/

# pnpm
.pnpm-store

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

docs
dist
*.tsbuildinfo